.puchases {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchases-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.list-purchases{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.286);
    border-radius: 1rem;
    padding: .5rem 2rem;
    width: 80vw;
    height: 40vh;
}

.list-purchases > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 9rem;
}